<div class="row">
  <div class="col-lg-8">

    <h1>My Current Research Fields</h1>
    <table class="table table-striped">
      <tbody>
      <% @project_research_fields.each do |project_research_field| %>
          <tr>
                <td><%= project_research_field.research_field.category %>
                <td>
                  <%= link_to raw('<i class="fa fa-trash"></i> &nbsp;&nbsp;Remove'), project_research_field_path(:id => project_research_field.id, :project_id => @project.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %>
                </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <h3>Add New Research Fields</h3>
    <table class="table table-striped">
      <tbody>
      <% @research_fields.each do |research_field| %>
          <tr>
            <% if research_field.category %>
                <td><%= research_field.category %>
                <td>
                  <%= link_to raw('<i class="fa fa-plus-circle"></i> &nbsp;&nbsp;Add'), project_research_fields_add_path(research_field.id, @project.id), :method => :post, class: 'btn btn-success btn-sm' %>
                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>