<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <a href="#"><span class="fa fa-tachometer"></span> Dashboard</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-search"></span> Search Projects</a>
    </li>
    <li>
      <%= link_to raw('<span class="fa fa-briefcase"></span> My Projects'), projects_path %>
    </li>
    <li>
      <a href="#"><span class="fa fa-tasks"></span> My Tasks</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-bullseye"></span> My Requests</a>
    </li>
    <li>
      <%= link_to raw('<span class="fa fa-money"></span> My Contributions'), contributions_path %>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->